In [1]:
import csv 
f= open('2022_Seoul_Temp.csv')

data = csv.reader(f)
next(data)

count = 0
avgtemp = 0
low = 0
max = 0

for row in data:
    for i in range(2,5):
        if(row[3]!=''):
            row[i] = float(row[i])
   
    if row[3] != '':
        avgtemp += row[2]
        count+=1
        if max < row[4]:
            max = row[4]
        if low > row[3] :
            low = row[3]
            
avgtemp = avgtemp / count

print("***Annual Temperature Report for Seoul in 2022")
print('Average Temperatuer :',round(avgtemp,2),'Celsius')
print('Average Minimum Temperatuer :',round(low,2),'Celsius')  
print('Average Maximum Temperatuer :',round(max,2),'Celsius')

***Annual Temperature Report for Seoul in 2022
Average Temperatuer : 13.26 Celsius
Average Minimum Temperatuer : -13.7 Celsius
Average Maximum Temperatuer : 36.1 Celsius